.clickable{
    cursor: pointer;
}
.selected-content:hover{
    background: #f09d9d;
}
.newReportForm{
    margin:10px;
    padding: 10px;
    border-top: 5px solid #292323;
    border-bottom: 5px solid #292323;
}
